@model BTTH_MVC_DotNet.Models.Product

@{
    ViewData["Title"] = "Delete";
}
@section Css {
    <link rel="stylesheet" href="~/oganic/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/oganic/css/style.css" type="text/css">
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catalog.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
